<div class="container my-5">
    <h5>Simple Google Translate</h5>
    <div class="flags my-5">
        <span *ngFor="let option of languages" class="flag fi fi-{{option.icon}}" (click)="onSelectLanguage(option)" matTooltip="{{option.languageName}}"></span>
    </div>

    <form class="d-grid">
        <mat-form-field class="w-100" appearance="outline">
            <mat-label>
                Translate something to <span class="flag fi fi-{{selectedLanguage.icon}}"></span>
                ({{currentTranslation.input.length}}/500)
            </mat-label>
            <textarea matInput id="inputValue" name="inputValue" rows="3" [(ngModel)]="currentTranslation.input" maxlength="500" (keyup)="onTranslate()" required autofocus
                validateInput></textarea>
        </mat-form-field>
        <button (click)="onSaveTranslationResult()" class="btn btn-success ms-auto" [disabled]="!currentTranslation.input.length">Save</button>
    </form>

    <div class="text-output">{{currentTranslation.translated}}</div>

    <hr />

    <div *ngFor="let saved of google.savedTranslations; let i = index" class="saved-translation" (click)="onApplySavedTranslation(saved)">
        <span class="flag fi fi-{{saved.language.icon}} me-2 mt-2" matTooltip="{{saved.language.languageName}}"></span>
        <div class="d-flex flex-column flex-fill">
            <span class="input">"{{saved.input}}"</span>
            <span class="translated">{{saved.translated}}</span>
        </div>
        <button class="btn btn-danger" (click)="onRemoveSavedTranslation(i)">X</button>
    </div>
</div>